UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

KIE_AI_API_KEY=""
KIE_AI_CALLBACK_URL="https://your-domain.com/api/callback"

NEXT_PUBLIC_FORCE_RATE_LIMIT=false
